 <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{ get_profile_image()}}" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>{{ app.user.username}}</p>

        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MENU PRINCIPAL</li>
      
      {% if app.user.isGranted('ROLE_ADMIN') %}
        {% set admin_menu =  get_admin_menu() %}
        {% for key, item in admin_menu %}
             {% if item.label != '' %}
            <li class="treeview">
                <a href="#">
                  <i class="{{item.icon_class}}"></i> <span>{{ item.label | trans  }}</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  {% for subkey, subitem in item.options %} 
                      <li id="section-{{subkey}}">
                          {% if subitem.options is defined %}
                            <a href=""><i class="fa fa-circle-o"></i> {{ subkey | trans | capitalize }} </a>
                            <ul class="treeview-menu">
                                {% for subkey2, subitem2 in subitem.options %} 
                                    <li id="section-{{subkey2}}"><a href="{{ path(subitem2) }}"><i class="fa fa-circle-o"></i> {{ subkey2 | trans }}</a></li>
                                {% endfor %}
                            </ul>
                          {% else %}
                              <a href="{{ path(subitem) }}"><i class="fa fa-circle-o"></i> {{ subkey | trans }} </a>
                          {% endif %}
                      </li>
                  {% endfor %}
                </ul>
            </li>
           {% endif %}
        {% endfor %}
      {% endif %}
    </ul>
  </section>