 <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{{ get_profile_image()}}" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p>{{ app.user.username}}</p>

        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MENU PRINCIPAL</li>
      
      {% if app.user.isGranted('ROLE_ADMIN') %}
        {% set admin_menu =  get_admin_menu() %}
        {% for key, item in admin_menu %}
            <li class="treeview">
                <a href="#">
                  <i class="{{item.icon_class}}"></i> <span>{{ item.label | trans }}</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                  {% for subkey, subitem in item.options %} 
                      <li id="section-{{subkey}}">
                          <a href="{{ path(subitem)}}"><i class="fa fa-circle-o"></i> {{ subkey | trans }}</a>
                      </li>
                  {% endfor %}
                </ul>
            </li>
        {% endfor %}
        
        {#<li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>{{ 'dashboard' | trans }}</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li id="section-analitycs"><a href="{{ path('admin_default_analitycs')}}"><i class="fa fa-circle-o"></i> {{ "analitycs" | trans }}</a></li>
            <li id="section-menuitems"><a href="{{ path('core_menuitem_index') }}"><i class="fa fa-circle-o"></i> <span>{{ "menu.plural" | trans }}</span></a></li>
            <li id="section-sliders"><a href="{{ path('core_slider_index') }}"><i class="fa fa-circle-o"></i> <span>{{ "slider.plural" | trans }}</span></a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>{{ "actor.plural" | trans }}</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li id="section-actors"><a href="{{ path('core_actor_index') }}"><i class="fa fa-circle-o"></i> Clientes</a></li>
          </ul>
        </li>
        
       
        
        <li class="treeview">
              <a href="#">
                  <i class="fa fa-envelope-o"></i> <span>{{ "newsletter.plural" | trans }}</span>
                  <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu sub-menu">
                  <li id="section-subscriptions"><a href="{{ path('core_newsletter_subscription') }}">{{ "newsletter.subscripts.plural" | trans }}</a></li>
                  <li id="section-newsletters"><a href="{{ path('core_newsletter_index') }}">{{ "newsletter.plural" | trans }}</a></li>
                  <li id="section-shippings"><a href="{{ path('core_newsletter_shipping') }}">{{ "newsletter.shipping.plural" | trans }}</a></li>
              </ul>
          </li>
          
           
            
        <li class="treeview">
            <a href="#">
                <i class="fa ion-ios-compose-outline" ></i> <span>{{ 'blog.singular'  | trans }}</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu sub-menu">
                <li id="section-posts"><a href="{{ path('blog_post_index') }}"><i class="fa fa-circle-o"></i> {{ "post.plural" | trans }}</a></li>
                <li id="section-postcategories"><a href="{{ path('blog_category_index') }}"><i class="fa fa-circle-o"></i> {{ "post.categories" | trans }}</a></li>
                <li id="section-posttags"><a href="{{ path('blog_tag_index') }}"><i class="fa fa-circle-o"></i> {{ "post.tags" | trans }}</a></li>
                <li id="section-postcomments"><a href="{{ path('blog_comment_index') }}"><i class="fa fa-circle-o"></i> {{ "comment.plural" | trans }}</a></li>
            </ul>
        </li>
        
           <li class="treeview">
                <a href="#">
                    <i class="fa fa-picture-o" ></i> <span>{{ 'advert.plural'  | trans }}</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu sub-menu">
                    <li id="section-adverts"><a href="{{ path('ecommerce_advert_index') }}"><i class="fa fa-circle-o"></i> {{ "advert.plural" | trans }}</a></li>
                    <li id="section-advertslocated"><a href="{{ path('ecommerce_located_index') }}"><i class="fa fa-circle-o"></i> {{ "located.plural" | trans }}</a></li>
                </ul>
            </li>#}
           
      {% endif %}
    </ul>
  </section>